h3{
    height: 40px;
    width: 150px;
}
canvas{
    border: 1px solid rgb(7, 44, 252);
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
body{
    background-size: cover;
}
@keyframes example{
    from{box-shadow: 1px 1px 38px blue;}
    to{box-shadow: 1px 1px 38px yellow;}
}